<p id="notice"><%= notice %></p>

<h1>Salesmen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salesmen.each do |salesman| %>
      <tr>
        <td><%= salesman.name %></td>
        <td><%= salesman.store %></td>
        <td><%= link_to 'Show', salesman %></td>
        <td><%= link_to 'Edit', edit_salesman_path(salesman) %></td>
        <td><%= link_to 'Destroy', salesman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesman', new_salesman_path %>
