<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @goal.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @goal.end_date %>
</p>

<p>
  <strong>Month reference:</strong>
  <%= @goal.month_reference %>
</p>

<p>
  <strong>Value:</strong>
  <%= @goal.value %>
</p>

<p>
  <strong>Store:</strong>
  <%= @goal.store %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
